parameters:
	ignoreErrors:
		-
			message: '#^\\Drupal calls should be avoided in classes, use dependency injection instead$#'
			identifier: globalDrupalDependencyInjection.useDependencyInjection
			count: 5
			path: src/Plugin/Editor/AceEditor.php

		-
			message: '#^\\Drupal calls should be avoided in classes, use dependency injection instead$#'
			identifier: globalDrupalDependencyInjection.useDependencyInjection
			count: 3
			path: src/Plugin/Filter/AceFilter.php
